<StackLayout class="modal-view-style" sdkExampleTitle sdkToggleNavButton>
    <Image [src]="LienImg"></Image>
    <Label text="Photo : Clara Deternos" verticalAlignment="center" horizontalAlignment="center"></Label>
    <Label text="Acte  : Retouche gabarit" verticalAlignment="center" horizontalAlignment="center"></Label>
    <Label text="Date  : 20 Nov. 2018" verticalAlignment="center" horizontalAlignment="center"></Label>
    <Label text="&#xf055;" class="fa" fontSize="22" (tap)="submit()" verticalAlignment="Bottom"  horizontalAlignment="right" marginRight="15" marginBottom="15" color="Blue"></Label> 
</StackLayout>

