ActionBar {
    background: linear-gradient(to right, #435F71, #57CCC6);
}
.header {
    width:100%;
    margin-top: -45;
}

.coverImage {
    background-image: url("res://auth");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.h1 {
    text-align: center;
}

.br {
    height: 30;
}

TextField {
    width: 75%;
}

Button {
    width: 40%;
    height: 45;
    background: #57CCC6;
}

.footer {
    rotate: 180;
    bottom: 0;
}