<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Chat Médical"></Label>
</ActionBar>
<GridLayout
  rows="auto, *, auto">
  <GridLayout row="0">
    <Image 
      stretch="aspectFill"
      [src]="other.coverUrl"
      class="other-cover-image"></Image>
    <StackLayout
      class="profile-container">
      <StackLayout
        orientation="horizontal">
        <StackLayout 
          class="other-profile-image-container">
          <Image 
            [src]="other.pictureUrl"
            class="other-profile-image"> </Image>
        </StackLayout>
        <Label
          class="other-name"
          [text]="other.name"></Label>
      </StackLayout>
    </StackLayout>
  </GridLayout>
  <ListView id="fond"
    #chatBox
    separatorColor="transparent"
    [items]="messages"
    (loaded)="scrollChatToBottom()"
    row="1">
    <ng-template let-item="item">
      <GridLayout 
        class="bubble-container">
        <StackLayout
          [class]="bubbleClass(item)">
          <TextView
            editable="false"
            class="message-content"
            [text]="item.content"></TextView>
          <Label
            [text]="item.date | timeAgo"
            class="message-date"></Label>
            <Label
            [text]="item.name"
            class="message-date"></Label>
        </StackLayout>
        <Image 
          [src]="item.sender.pictureUrl"
          [class]="bubbleClass(item) + '-picture'"></Image>
      </GridLayout>
    </ng-template>
  </ListView>
  <StackLayout
    #messageBox
    row="2">
    <StackLayout
      class="horizontal-separator"></StackLayout>
    <StackLayout class="message-box-container">
      <GridLayout
        columns="*, auto"
        class="message-box">
        <TextView
          #newMessage
          col="0"
          hint="Write a message..."
          class="write-message-field" ></TextView>
        <Label
          (tap)="sendMessage()"
          col="1"
          text="Send"
          class="send-button"></Label>
      </GridLayout>
    </StackLayout>
  </StackLayout>
</GridLayout>
