<ActionBar class="action-bar">
    <Label class="action-bar-title"></Label>
</ActionBar>

<StackLayout class="page page-content">
    <Image src="res://vaguetop" class="header"></Image>
    <Image src="res://orthalis" class="headerImg"></Image>

    <TextField hint="Code cabinet" autocapitalizationType="none" returnKeyType="done" class="input input-rounded m-t-10"></TextField>
    
    <Label class="br"></Label>
    <Button text="Valider" (tap)="submit()" class="btn btn-primary btn-rounded-lg"></Button>
</StackLayout>

<DockLayout stretchLastChild="false">
        <Image src="res://vaguetop" class="footer" dock="bottom"></Image>
</DockLayout>