<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Prendre une Photo"></Label>
</ActionBar>
<ScrollView sdkExampleTitle sdkToggleNavButton>
    <!-- >> camera-module-html -->
    <FlexboxLayout flexDirection="column-reverse">
        <Image [src]="imageTaken" flexGrow="3" class="p-15 img-rounded"></Image>
        <Button *ngIf="!isPhtoPrise" text="Prendre une Photo" class="btn btn-primary btn-active" (tap)="onTakePhoto()" flexGrow="1"></Button>
        <Button *ngIf="!isPhtoPrise" text="Requête d'Autorisation " class="btn btn-primary btn-active" (tap)="onRequestPermissions()" flexGrow="1"></Button>
        <Button *ngIf="isPhotoPrise2" text="Envoyer une Photo Cabinet" class="btn btn-primary btn-active" (tap)="onRequesEnvoie()" flexGrow="1"></Button>

    </FlexboxLayout>
    <!-- << camera-module-html -->
</ScrollView>