ActionBar {
    background: linear-gradient(to right, #435F71, #57CCC6);
}
.header {
    width:100%;
    margin-top: -45;
    margin-left: 0;
}

.imgProfil {
    height: 125;
    border-radius: 22;
    margin-top: -48;
}

.h1 {
    text-align: center;
}

.br {
    height: 15;
}

TextField {
    width: 75%;
}