<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title"></Label>
</ActionBar>

<ScrollView>
    <StackLayout class="page page-content">
    
        <Image src="res://vaguetop" class="header"></Image>

        <Image src="res://orthalis" class="imgProfil"></Image>
        <Label class="h1" text="Nicky Larson"></Label>

        <Label class="br"></Label>
        
        <StackLayout>
            <TextField hint="Prénom" text="" editable="false"></TextField>
            <TextField hint="Nom" text="" editable="false"></TextField>
            <TextField hint="Téléphone" text="" editable="false"></TextField>
            <TextField hint="Mobile" text="" editable="false"></TextField>
            <TextField hint="Email" text="" editable="false"></TextField>
        </StackLayout>
        

    </StackLayout>
</ScrollView>
