<ActionBar class="action-bar" [isEnabled]="!chargement">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title"></Label>
</ActionBar>

<GridLayout>

    <ScrollView>
        <StackLayout class="page page-content">
    
            <StackLayout *ngFor="let p of patientService.patient">
                <Image src="res://vaguetop" class="header"></Image>
                <Image [src]="p.photos[0].lien" class="imgProfil"></Image>
                <Label class="br"></Label>
                <Label class="h1" [text]="p.etatCivil.prenom"></Label>
                <Label class="br"></Label>
                <StackLayout>
                    <TextField hint="Prénom" [text]="p.etatCivil.prenom" editable="false"></TextField>
                    <TextField hint="Nom" [text]="p.etatCivil.nom" editable="false"></TextField>
                    <TextField hint="Téléphone" [text]="p.etatCivil.telephones[0]" editable="false"></TextField>
                    <TextField hint="Mobile" [text]="p.etatCivil.telephones[1]" editable="false"></TextField>
                    <TextField hint="Email" [text]="p.etatCivil.email" editable="false"></TextField>
                </StackLayout>
            </StackLayout>
    
        </StackLayout>
    </ScrollView>
    
</GridLayout>


