<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Dossier Médical"></Label>
</ActionBar>

<ScrollView orientation="vertical">
        <StackLayout orientation="vertical">
              <Image src="res://vaguetop" verticalAlignment="top"  horizontalAlignment="center"></Image>  
              <Image src="res://utilisateur" verticalAlignment="top"  horizontalAlignment="center" width="100"  borderRadius="100" marginTop="-75"></Image>  
            
                <Label id="titre1" text="Consultez vos facture / vos RDV" verticalAlignment="center"  horizontalAlignment="center" fontSize="17" marginTop="20"></Label>

                <StackLayout>
                    <!-- >> using-ngif-html -->
                    <GridLayout (tap)="test1()" class="list1" columns="60, 250" height="65" backgroundColor="#F9FFFF" horizontalAlignment="center" borderRadius="2" borderWidth="1" marginTop="15">  
                        <Label id="iconec" col="1"  text="Historique des paiements"  horizontalAlignment="Left"  verticalAlignment="center" paddingLeft="10"></Label>
                    </GridLayout>
                    <GridLayout *ngIf="isVisible1"  class="list1" columns="310" height="100" backgroundColor="#EDF4FF" horizontalAlignment="center" borderRadius="2" borderWidth="1" borderColor="#C5E1E1" marginBottom="15">  
                        <Label id="iconec"  text="Lorem Du hoc    : 10/10/2018 : 180 €" horizontalAlignment="center" paddingLeft="10"  paddingTop="5"></Label>
                        <Label id="iconec"  text="Slacrem Dashomc : 18/02/2018 : 180 €" horizontalAlignment="center" paddingLeft="10"  paddingTop="25"></Label>
                        <Label id="iconec"  text="Plyrem Duhcam   : 14/02/2018 : 180 €" horizontalAlignment="center" paddingLeft="10"  paddingTop="45"></Label>
                        <Label id="iconec"  text="Korem Dohojoc   : 21/01/2018 : 180 €"  horizontalAlignment="center" paddingLeft="10"  paddingTop="65"></Label>
                    </GridLayout>
                    <GridLayout (tap)="test2()" class="list1" columns="60, 250" height="65" backgroundColor="#F9FFFF" horizontalAlignment="center" borderWidth="1"  borderRadius="2">  
                        
                        <Label id="iconec" col="1"  text="Historique des RDV"  horizontalAlignment="Left"  verticalAlignment="center" paddingLeft="30"></Label>
                    </GridLayout>
                    <GridLayout *ngIf="isVisible2"  class="list1" columns="310" height="100" backgroundColor="#EDF4FF" horizontalAlignment="center" borderRadius="2" marginBottom="10">  
                        <Label id="iconec"  text="Baggaes      : 10/10/2018 "   horizontalAlignment="left" paddingLeft="50" paddingTop="5"></Label>
                        <Label id="iconec"  text="Verification : 18/02/2018"   horizontalAlignment="left" paddingLeft="50"  paddingTop="25"></Label>
                        <Label id="iconec"  text="Collage      : 14/02/2018"  horizontalAlignment="left" paddingLeft="50"  paddingTop="45"></Label>
                        <Label id="iconec"  text="Réajustage   : 21/01/2018"  horizontalAlignment="left" paddingLeft="50"  paddingTop="65"></Label>
               
                    </GridLayout>
                    
                </StackLayout>
                <GridLayout columns="*,*" rows="*,*"  backgroundColor="white" horizontalAlignment="center" borderRadius="2" marginTop="30" marginBottom="10">  
                    <!-- << using-ngif-html -->
                    <Label id="iconec" row="0" col="0" text="Date Echeance : " verticalAlignment="center"  horizontalAlignment="right" fontSize="17" color="#36C6E7"> </Label>
                    <Label id="iconec" row="0" col="1" text=" 23/09/2018 " verticalAlignment="center"  horizontalAlignment="left" fontSize="20"  color="#FFA76A" > </Label>
                    <Label id="iconec" row="1" col="0" text="SOLDE : " verticalAlignment="center"  horizontalAlignment="right" fontSize="17"  color="#36C6E7"> </Label>
                    <Label id="iconec" row="1" col="1" text="  250 € : " verticalAlignment="center"  horizontalAlignment="left" fontSize="20"  color="#FFA76A"> </Label>
                </GridLayout>  
                    
             <Label id="iconec" text="Consultez vos photos" verticalAlignment="center"  horizontalAlignment="center" fontSize="20" marginTop="10"> </Label>
         
         <GridLayout columns="150,30,150" rows="30,auto,*"  backgroundColor="white" horizontalAlignment="center" borderRadius="2" marginTop="20">  
                <GridLayout id="Bap" columns="150" rows="25" col="0"  backgroundColor="white" horizontalAlignment="center" borderRadius="2" background="lightblue">  
                    <Label   col="0" text="Avant" verticalAlignment="center"  horizontalAlignment="center"></Label>
                 </GridLayout>     

                 <GridLayout  id="Bap" columns="150" rows="25"  col="2"  backgroundColor="white" horizontalAlignment="center" borderRadius="2" background="lightblue">  
                    <Label  col="0" text="Après" verticalAlignment="center"  horizontalAlignment="center"></Label>
                 </GridLayout>     
         </GridLayout>          

     <GridLayout columns="150,*" rows="150,auto,150,auto" backgroundColor="white"  borderRadius="2" marginTop="5">       
          
            <GridLayout columns="auto" rows="auto,*"  col="0" row="0" backgroundColor="white" horizontalAlignment="left" borderRadius="2" marginTop="15" horizontalAlignment="left" marginLeft="25">  
                        <Image row="0" #Img [src]="LienImage[0]" (tap)="zoom(Img,LienImage[0])" verticalAlignment="top"  horizontalAlignment="center" width="128" marginTop="5"></Image>  
            </GridLayout>     
            <Label id="iconec" row="1" col="0"  text="16 ans - 06/10/2016" verticalAlignment="center"  horizontalAlignment="left" marginLeft="25"></Label>

            <GridLayout columns="auto" rows="auto,*"  col="1" row="0" backgroundColor="white" horizontalAlignment="left" borderRadius="2" marginTop="15" horizontalAlignment="right" marginRight="25">  
                <Image row="0"  #Img [src]="LienImage[1]" (tap)="zoom(Img,LienImage[1])"  verticalAlignment="top"  horizontalAlignment="right" width="128" marginTop="5"></Image>  
            </GridLayout>     
            <Label id="iconec" row="1" col="1" text="18 ans - 06/07/2018" verticalAlignment="center"  horizontalAlignment="right" marginRight="28"></Label>        

  
            <GridLayout columns="auto" rows="auto,*"  col="0" row="2" backgroundColor="white" horizontalAlignment="left" borderRadius="2" marginTop="15" horizontalAlignment="left" marginLeft="25">  
                <Image row="0"  #Img [src]="LienImage[2]" (tap)="zoom(Img,LienImage[2])" verticalAlignment="top"  horizontalAlignment="center" width="128" marginTop="5"></Image>  
            </GridLayout>     
            <Label id="iconec" row="3"  text="17 ans - 16/11/2017" verticalAlignment="center"  horizontalAlignment="left" marginLeft="25"></Label>

            <GridLayout columns="auto" rows="auto,*"  col="1" row="2" backgroundColor="white" horizontalAlignment="left" borderRadius="2" marginTop="15" horizontalAlignment="right" marginRight="25">  
                <Image row="0"  #Img [src]="LienImage[3]" (tap)="zoom(Img,LienImage[3])" verticalAlignment="top"  horizontalAlignment="center" width="128" marginTop="5"></Image>  
            </GridLayout>     
            <Label id="iconec" row="3" col="1"  text="18 ans - 26/04/2018" verticalAlignment="center"  horizontalAlignment="right" marginRight="28"></Label>
    </GridLayout>

    </StackLayout>
</ScrollView>