<ActionBar class="action-bar" [isEnabled]="!chargement">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Accueil"></Label>
</ActionBar>
     <GridLayout rows="auto,*,50">
       <GridLayout row="0">
            <StackLayout orientation="vertical">
                <Image src="res://vaguetop" class="header"></Image>
                 <!--Logo-->
            <Image src="https://pierrecastaingv.github.io/Orthalis/images/logo.jpg" class="logo" width="50"></Image>


            <!--cabinet-->
            <AbsoluteLayout border-radius="12" textWrap="true">
                <Image src="https://pierrecastaingv.github.io/Orthalis/img/cabinet.png" borderRadius="10" stretch="fill"
                    left="0" top="10" width="95%" height="100" marginLeft="2.5%"></Image>
                <StackLayout class="titre2" top="0" left="0" width="95%" marginLeft="2.5%" marginTop="-20">
                    <label class="h2" text="Cabinet Andreas-Salomé" textWrap="true"></label>
                </StackLayout>
            </AbsoluteLayout>

                <StackLayout class="hr-light m-10"></StackLayout>
            </StackLayout>
        </GridLayout>
        <GridLayout row="1">
        <scrollView orientation="vertical">
                    <ListView 
                        #chatBox
                        separatorColor="transparent"
                        [items]="messages"
                        (loaded)="scrollChatToBottom()"
                        row="1">
                        <ng-template let-item="item">
                        <GridLayout 
                            class="bubble-container">
                            <StackLayout orientation="horizontal"
                            [class]="bubbleClass(item)">
                            <Image 
                            [src]="item.sender.pictureUrl"
                            [class]="bubbleClass(item) + '-picture'">
                            </Image>
                            <TextView
                                editable="false"
                                class="message-content"
                                [text]="item.content"></TextView>
                            <Label
                                [text]="item.date"
                                class="message-date"></Label>
                                <Label
                                [text]="item.name"
                                class="message-date"></Label>
                            </StackLayout>
                        </GridLayout>
                        </ng-template>
                    </ListView>
                    </scrollView>
                    </GridLayout>
                    <GridLayout row="2" height="50">
                    <label text="BANDEAU PUB" horizontalAlignment="center" verticalAlignment="center"></label>
                    <Image #Pub src="res://logo" (tap)="pubdefile(Pub)"></Image>
                    </GridLayout>
                    

</GridLayout>

