/* App Common CSS ======================================================= */

ActionBar {
    background: linear-gradient(to right, #435F71, #57CCC6);
}
.header {
    width:100%;
    margin-top: -45;
    margin-left: 0;
}
.br {
    height: 15;
}
ActivityIndicator {
    width: 40%;
}
:disabled {
    opacity: 0.1;
}
.h1 {
    text-align: center;
}
TextField {
    width: 75%;
}
.footer {
    rotate: 180;
    bottom: 0;
}

.titre2 {
    margin-top: 0;
}
/* Page specific CSS ====================================================== */
.h2{
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  font-size: 15;
  color:#fff;
  margin-top:110;
  background-color: rgba(17, 19, 19, 0.432);
  width:100%;
  height:100%;
  border-bottom-left-radius:12;
  border-bottom-right-radius:12;
}
.logo{
    text-align: center;
    border-radius:100%;
    margin-top: -45;
 }
.note{
    margin:5;
    padding:0;
    width: 100%;
    height:110;
    font: size 1vw;
    background-color:rgba(205, 241, 41, 0.26);
}
Button {
    width: 40%;
    height: 45;
    background: rgb(235, 47, 14);
}
/* Page specific CSS ====================================================== */

/* template chat integration*/
/* Add mobile styles for the component here.  */
    
    StackLayout.profile-container {
      vertical-align: middle;
      horizontal-align: left;
      margin-left: 10;
    }
    
   
    StackLayout.bubble-from-me,
    StackLayout.bubble-from-other{
      border-radius: 10;
      padding: 10;
      font-size: 14;
    }
    
    TextView.message-content {
      width: 100%;
      background-color: transparent;
      
    }
    
    Label.message-date {
      font-size: 11;
      font-style: italic;
      padding-left: 10;
      horizontal-align: left;
      color: black;
    }
    
    
    StackLayout.bubble-from-me {
      width:95%;
      height:30%;  
      background-color: rgb(255, 148, 134);
    }
    
    
    StackLayout.bubble-from-other {
      background-color: rgb(218, 255, 254);
      width:95%;
      height:30%;  
      
    }
    
    GridLayout.bubble-container {
      padding: 10;
    }
    
    Image.bubble-from-me-picture,
    Image.bubble-from-other-picture {
      height: 64;
      width: 64;
      border-radius: 50;
      vertical-align: bottom;
    }
    
    Image.bubble-from-other-picture {
      horizontal-align: left;
    }
    
    Image.bubble-from-me-picture { /*utilisateur*/
      horizontal-align: left;
   
    }
    
    #fond {
      background-image: url(../img/fond.png);
    }
    TextView {
     
    }
    