ActionBar {
    background: linear-gradient(to right, #435F71, #57CCC6);
}
.header {
    width:100%;
    margin-top: -45;
}

.imgProfil {
    width: 125;
    height: 125;
    border-radius: 100%;
    margin-top: -48;
}

.h1 {
    text-align: center;
}

.br {
    height: 15;
}

TextField {
    width: 75%;
}

Button {
    width: 40%;
    height: 45;
    background: rgb(228, 28, 28);
}

.footer {
    rotate: 180;
    bottom: 0;
}